body {
    background: white;
    color:black;
    margin:auto;
    font-family: sans-serif;
}

p {
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; /* Allow the content to grow and fill available space */
}


/* Hide text by default */
.text-sm {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show text on hover */
a:hover .text-sm {
    opacity: 1;
}
